<section class="card-feed">
  <a href="/post/{{id}}">
    <span title="{{user.username}}" class="card-feed-banner">
      <img src="{{resource.url}}" alt="{{resource.title}}"> 
      • Reply by u/{{user.username}} {{get_TimePassed created_date}}
    </span>
    
    <header>
      <h5>{{title}} by {{user.username}}</h5>
    </header>
    
    
  </a>
</section>

