{{!-- USED WHEN PROVIDING COMMENTS TO HOMEPAGE AND ON POSTS TOO --}}
<section class="comment card" data-id="{{id}}" data-userid="{{user.id}}">

  {{!-- <a href="/users/{{user.id}}"> --}}
    <span title="{{user.username}}" class="card-feed-banner">
      <header class="comment-details-header">
        <h4>
          {{#if user.resource.url}}
            <img src="{{user.resource.url}}" alt="{{user.resource.title}}"> 
          {{else}}
              <img src="/images/blog_icon_nobg.png" alt="default profile image" class="card-brand-logo"> 
          {{/if}}
          • u/{{user.username}} / <span class="comment-title">{{title}}</span>
        </h4>
        <span class="delete-comment"></span>
      </header>
    </span>
  {{!-- </a> --}}
    
  {{!-- content within comment --}}
  <span class="comment-content">
    content
  </span>
  
  <div class="card-footer">
    <span>Post ID: {{id}}</span>
    • <span>Created: {{format_date created_date}}</span>
    • <span>Last Modified: {{format_date modified_date}}</span>
  </div>
    
  {{!-- </a> --}}
</section>