<section class="card-feed">
  
    <span title="{{username}}" class="card-feed-banner">
      {{!-- <img src="{{resource.url}}" alt="{{resource.title}}">  --}}
    </span>
    <header> u/{{username}} </header>
    <span>
      • User for {{get_TimePassed created_date}}
    </span>
    u/{{username}} • User for {{get_TimePassed created_date}}
</section>

