<section class="card-feed">
    <span title="{{username}}" class="card-feed-banner">
      <img src="{{resource.url}}" alt="{{resource.title}}"> 
      • u/{{username}}
    </span>
    <header class='card-content'>  
      <ul>
        <li>Created: {{format_date created_date}}</li>
        <li>Age: {{get_TimePassed created_date}}</li>
        <li>Modifier: {{format_date modified_date}}</li>
    </ul>
    </header>
    {{!-- footer --}}
    <span class="card-footer">User ID: {{id}}</span>
</section>