<section class="card-feed">
  
    <span title="{{username}}" class="card-feed-banner">
      <img src="{{resource.url}}" alt="{{resource.title}}"> 
      u/{{username}} • User for {{get_TimePassed created_date}}
    </span>
    
    <header>
      <h5>{{title}} by {{username}}</h5>
    </header>
</section>

