<article class="card-feed">
  <a href="/post/{{post_id}}">
    <span title="u/{{user.username}} • {{title}} • {{get_TimePassed created_date}}" class="card-feed-banner">
      u/{{user.username}} • {{get_TimePassed created_date}}
    </span>
    <header>
      {{title}} by {{user.username}}
    </header>
    
  </a>
</article>
