<section class="card">
  {{!-- <a href="/kba/{{id}}"> --}}
    <header>{{title}}</header>
    {{description}}

    {{!-- <img src="/images/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}"> --}}
  </a>
</section>
