<section class="card post-preview">
  <a href="/post/{{id}}">
    <span title="{{user.username}}" class="card-banner">
      {{!-- <img src="{{resource.url}}" alt="{{resource.title}}">  --}}
      <header class="card-header">
        {{#if resource.url}}
          <img src="{{resource.url}}" alt="{{resource.title}}">
        {{else}}
          <img src="/images/blog_icon_nobg.png" alt="default profile image" class="card-brand-logo"> 
        {{/if}}
        
        <h4>/ {{title}}</h4>
      </header>
      
    </span>
    {{!-- The title of the post --}}
    {{!-- the body content of the post shrunk down --}}
    <div class="card-content">
      {{{shrinkContent content}}}
    </div>
    
    {{!-- <img src="{{resource.url}}" alt="{{resource.title}}"> --}}

    <div class="card-footer">
      <span>Posted by u/{{user.username}} • {{get_TimePassed created_date}} ago</span>
      <span>|</span>
      <span>Post ID: {{id}}</span>
      • <span>Created: {{format_date created_date}}</span>
      • <span>Last Modified: {{format_date modified_date}}</span>
    </div>
    
  </a>
</section>
