<section class="card">
  <a href="/post/{{id}}">
    <span title="{{user.username}}" class="card-banner">
      <img src="{{resource.url}}" alt="{{resource.title}}"> 
      • Posted by u/{{user.username}} {{format_date created_date}}
    </span>
    <header>
      <h4>{{title}} by {{user.username}}</h4>
    </header>
    Modified {{hours_passed modified_date}}
    <span>{{{shrinkContent content}}}</span>
    
    {{!-- <img src="{{resource.url}}" alt="{{resource.title}}"> --}}

    <span class="card-footer">
      <span>Post ID: {{id}}</span>
      <span>Last Modified: {{format_date modified_date}}</span>
    </span>
    
  </a>
</section>
