{{!-- USED WHEN PROVIDING DETAILS OF A POST --}}
<section class="post card" data-id="{{user.id}}">
  <a href="/post/{{id}}">
    <banner>Posted by u/{{user.username}} ago, on {{hours_passed created_date}}</banner>
    <header>
      <h4>{{title}} by {{user.username}}</h4>
      <span class="delete-post"></span>
    </header>
    
    <span>{{{shrinkContent content}}}</span>
    
    <div class="card-footer">
      <span>Post ID: {{id}}</span>
      • <span>Created: {{format_date created_date}}</span>
      • <span>Last Modified: {{format_date modified_date}}</span>
    </div>
  </a>
</section>
