<section class="card">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <a href="/post/{{id}}">
    <!-- The card contains the post name as the card header -->
    <header>{{id}}. {{title}} by {{user.username}}</header>
    
    {{!-- <span>{{content}}</span> --}}
    
    <span>{{Resource.url}}</span>

    <div>
      <span>{{format_date created_date}}</span>
      <span>{{format_date modified_date}}</span>
    </div>
    
  </a>
</section>
