<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erik Plachta | Tech Blog - Concept</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Tech Blog - Concept</h1>
  </header>
  <nav>
    <a href="/">Homepage</a>
    {{#if loggedIn}}<a href="/profile" id="profile"><img src="{{url}}" alt="{{title}}">u/{{session.username}}</a>{{/if}}
    {{#if loggedIn}}<a id="logout">Logout</a>
    {{else}}<a href="/login">Login / Sign Up</a>{{/if}}
    <a id="about" href="#">About</a>
    
  </nav>
  <!-- Trigger/Open The Modal -->

  <main>
    {{!-- loading left sidebar --}}
    {{> activity-feed}}
    {{!-- Main area --}}
    <div class="landing">
      {{{body}}}
    </div>
  </main>
  
  <!-- If the user is logged in, load the JS script for if clicked logout btn -->
  {{#if loggedIn}}
  {{!-- logout script to run event --}}
  <script src="/js/logout.js"></script>
  {{!-- creating a post script to manage posting events --}}
  <script src="/js/post.js"></script>
  {{/if}}

