{{!-- USED WHEN LOOKING AT SPECIFIC POST a https://pathane.com/post/:id  --}}


{{!-- <style>   .activity-feed { display: block;  } .popular-posts,.popular-posts h4{ display:none !important; }  </style> --}}
<style>aside{display: none;} div .card{margin: 1rem 4rem;} </style>

<div class="landing">
  <section class="card">
    <div class="post-details" data-id="{{post.id}}" data-userid="{{post.user.id}}">
      <span class="delete-post"></span>
      <h3> {{post.id}}. {{post.title}} by {{post.user.username}} </h3>
      
      <p>{{{post.content}}}</p>
      {{!-- <span>
        <img src="{{post.resource.url}}" alt="{{post.resource.title}}">
      </span> --}}
      <span class="card-footer">
        Posted {{get_TimePassed post.created_date}} ago, on {{format_date post.created_date}}
      </span>
    </div>
  </section>

  <section class="card" id="comments">
    <h3>Comments</h3>
  </section>
    
    {{#if comments}}
      {{#each comments as |comment|}}
          {{> comment-details}}
        {{/each}}
    
    {{else}}
      No comments, yet.
    {{/if}}
  </section>

  <section class="card" id="post-reply">
    <h3>Post a Reply</h3>
    {{> post-create }}
  </section>

</div>