<style> aside{display:none;} .post-stats{display: inline-block;} .card{margin:1rem .5rem} </style>


{{!-- when you're looking at a specific  --}}

<div class="landing">
  <section class="card">
    <div class="post-details" data-id="{{post.id}}">
      <h3>{{post.id}}. {{post.title}} by {{post.user.username}}</h3>
      
      <p>{{{post.content}}}</p>
      {{!-- <span>
        <img src="{{post.resource.url}}" alt="{{post.resource.title}}">
      </span> --}}
      <div class="card-footer">
        Posted {{get_TimePassed post.created_date}} ago, on {{format_date post.created_date}}
      </div>
    </div>
  </section>

  <section class="card" id="comments">
    <h3>Comments</h3>
    
    {{#if comments}}
      {{#each comments as |comment|}}
          {{> comment-details}}
        {{/each}}
    
    {{else}}
      No comments, yet.
    {{/if}}
  </section>
  
  <section class="card" id="post-reply">
    <h3>Post a Reply</h3>
    {{> post-create }}
  </section>
</div>